# Pandas 基础

## Pandas介绍

In [ ]:
1. Pandas是什么?
Pandas是一个处理数据集数据的工具, 主要用于数据挖掘数据分析的开源Python库
2. 为什么要用Pandas?
便捷的数据处理能力
文件读取方便
封装了Matplotlib, Numpy的画图和计算

In [2]:
import pandas as pd
import numpy as np

In [4]:
# 创建一个符合正太分布的10个股票5天的涨跌幅数据
stock_change = np.random.normal(size=[5, 10])

In [5]:
stock_change

array([[ 0.58492236,  1.0101665 , -0.3118005 ,  0.06072774,  1.10799563,
         0.94912017,  0.98321197,  0.35675636, -0.08948141,  0.6347561 ],
       [-1.58403794, -0.89154092,  1.50898111,  0.29757664,  2.16962742,
        -0.7309496 , -1.30943339, -0.20546413,  0.83062146,  0.78713435],
       [-0.46515407, -0.59774187,  2.32272976, -1.75546909, -0.29251869,
         1.82401712, -0.5068828 , -0.01688685,  0.10158242, -1.45084551],
       [ 0.67993544,  0.50317744, -0.01841426,  0.24230992,  1.52566273,
        -0.06598317, -0.02993126, -0.77715483, -0.481756  , -0.02645341],
       [-0.38904838, -0.19589413,  0.25388573, -0.37432188, -1.27808778,
        -0.1798515 , -1.82449728,  1.49776239,  0.17031915,  0.0423508 ]])

In [6]:
# 使用Pandas中的数据结构
stock_day_rise = pd.DataFrame(stock_change)

In [7]:
stock_day_rise

,0,1,2,3,4,5,6,7,8,9
0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [9]:
# 构造行索引序列
stock_code = ['股票{}'.format(i) for i in range(stock_day_rise.shape[0])]

In [12]:
stock_code

['股票0', '股票1', '股票2', '股票3', '股票4']

In [13]:
# 添加行索引
data = pd.DataFrame(stock_day_rise, index=stock_code)

In [14]:
data

      0   1   2   3   4   5   6   7   8   9
股票0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
股票1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
股票2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
股票3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
股票4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [16]:
# 添加列索引
# 生成一个时间序列, 略过周末非交易日
date = pd.date_range('2019-3-21', periods=stock_day_rise.shape[1], freq='B')

In [17]:
date

DatetimeIndex(['2019-03-21', '2019-03-22', '2019-03-25', '2019-03-26',
               '2019-03-27', '2019-03-28', '2019-03-29', '2019-04-01',
               '2019-04-02', '2019-04-03'],
              dtype='datetime64[ns]', freq='B')

In [18]:
# index代表行索引, columns代表列索引
data = pd.DataFrame(stock_change, index=stock_code, columns=date)

In [19]:
data

,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
股票0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
股票1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
股票2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
股票3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
股票4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

### DataFrame介绍

In [ ]:
DataFrame是数据容器, 二维数组
DataFrame的结构, index行索引, columns列索引, values数据
DataFrame的常用属性和方法
    属性: index, columns, values, shape, T 
    方法:head(num), tail(num)

In [20]:
data.shape

(5, 10)

In [21]:
data.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4'], dtype='object')

In [22]:
data.columns

DatetimeIndex(['2019-03-21', '2019-03-22', '2019-03-25', '2019-03-26',
               '2019-03-27', '2019-03-28', '2019-03-29', '2019-04-01',
               '2019-04-02', '2019-04-03'],
              dtype='datetime64[ns]', freq='B')

In [23]:
data.T

                 股票0       股票1       股票2       股票3       股票4
2019-03-21  0.584922 -1.584038 -0.465154  0.679935 -0.389048
2019-03-22  1.010166 -0.891541 -0.597742  0.503177 -0.195894
2019-03-25 -0.311800  1.508981  2.322730 -0.018414  0.253886
2019-03-26  0.060728  0.297577 -1.755469  0.242310 -0.374322
2019-03-27  1.107996  2.169627 -0.292519  1.525663 -1.278088
2019-03-28  0.949120 -0.730950  1.824017 -0.065983 -0.179852
2019-03-29  0.983212 -1.309433 -0.506883 -0.029931 -1.824497
2019-04-01  0.356756 -0.205464 -0.016887 -0.777155  1.497762
2019-04-02 -0.089481  0.830621  0.101582 -0.481756  0.170319
2019-04-03  0.634756  0.787134 -1.450846 -0.026453  0.042351

In [24]:
data.values

array([[ 0.58492236,  1.0101665 , -0.3118005 ,  0.06072774,  1.10799563,
         0.94912017,  0.98321197,  0.35675636, -0.08948141,  0.6347561 ],
       [-1.58403794, -0.89154092,  1.50898111,  0.29757664,  2.16962742,
        -0.7309496 , -1.30943339, -0.20546413,  0.83062146,  0.78713435],
       [-0.46515407, -0.59774187,  2.32272976, -1.75546909, -0.29251869,
         1.82401712, -0.5068828 , -0.01688685,  0.10158242, -1.45084551],
       [ 0.67993544,  0.50317744, -0.01841426,  0.24230992,  1.52566273,
        -0.06598317, -0.02993126, -0.77715483, -0.481756  , -0.02645341],
       [-0.38904838, -0.19589413,  0.25388573, -0.37432188, -1.27808778,
        -0.1798515 , -1.82449728,  1.49776239,  0.17031915,  0.0423508 ]])

In [26]:
data.head(3)

,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
股票0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
股票1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
股票2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846

In [27]:
data.tail(3)

,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
股票2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
股票3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
股票4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [ ]:
DataFrame的索引设置
1. data_df.reset_index()  # 重置行索引, 默认保留旧索引, drop=True不保留旧索引
2. data_df.index  # 直接替换行索引
3. data_df.set_index  # 指定某行为行索引
4. data_df = pd.DataFrame(data, index=code)  # 创建DataFrame是指定行索引或者列索引

In [28]:
data.reset_index()

,index,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
0,股票0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
1,股票1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
2,股票2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
3,股票3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
4,股票4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [29]:
data.reset_index(drop=True)

,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [35]:
data.index = ['中证股{}'.format(i) for i in range(data.shape[0])]

In [36]:
data

,2019-03-21 00:00:00,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
中证股0,0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
中证股1,-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
中证股2,-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
中证股3,0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
中证股4,-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [37]:
data.set_index(data.columns[0])

,2019-03-22 00:00:00,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
2019-03-21 00:00:00,,,,,,,,,
0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

In [39]:
# 设置多个索引
data.set_index([data.columns[0], data.columns[1]])

,,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-04-01 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00
2019-03-21 00:00:00,2019-03-22 00:00:00,,,,,,,,
0.584922,1.010166,-0.311800,0.060728,1.107996,0.949120,0.983212,0.356756,-0.089481,0.634756
-1.584038,-0.891541,1.508981,0.297577,2.169627,-0.730950,-1.309433,-0.205464,0.830621,0.787134
-0.465154,-0.597742,2.322730,-1.755469,-0.292519,1.824017,-0.506883,-0.016887,0.101582,-1.450846
0.679935,0.503177,-0.018414,0.242310,1.525663,-0.065983,-0.029931,-0.777155,-0.481756,-0.026453
-0.389048,-0.195894,0.253886,-0.374322,-1.278088,-0.179852,-1.824497,1.497762,0.170319,0.042351

### Series介绍
Series数据容器 一维数组
Series的结构 index, values
创建Series:
    指定内容, 默认索引 pd.Series(np.arange(10))
    指定索引 pd.Series(np.random.rand(10, 20, 10), np.arange(10))
    通过字典数据创建 pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})

In [40]:
pd.Series(range(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [41]:
type(pd.Series(range(10)))

pandas.core.series.Series

In [42]:
pd.Series(np.random.rand(10), range(10))

0    0.558015
1    0.878032
2    0.898684
3    0.982763
4    0.772807
5    0.592983
6    0.488386
7    0.588574
8    0.188577
9    0.100553
dtype: float64

In [44]:
pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})

blue       200
green      500
red        100
yellow    1000
dtype: int64

### 索引操作

In [ ]:
结合loc或者iloc使用索引(先行后列)(推荐使用)
	loc：使用索引名字进行切片
	iloc：使用索引下标进行切片

In [45]:
# 读取文件
data = pd.read_csv("./data/stock_day.csv")

In [47]:
data.head(3)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32

In [51]:
data['open']['2018-02-27']

23.53

In [69]:
data['open'].head()

2018-02-27    23.53
2018-02-26    22.80
2018-02-23    22.88
2018-02-22    22.25
2018-02-14    21.49
Name: open, dtype: float64

In [52]:
# 通过索引名获取数据, 先行后列
data.loc['2018-02-27':'2018-02-23', 'open']

2018-02-27    23.53
2018-02-26    22.80
2018-02-23    22.88
Name: open, dtype: float64

In [54]:
# 通过索引下标获取数据
data.iloc[0:2, 1:3]

             high  close
2018-02-27  25.88  24.16
2018-02-26  23.78  23.53

In [ ]:
排序操作
	df.sort_values(by, ascending)
		按某一列进行排序
	df.sort_index(ascending)
		对于行索引进行排序
	False  降序
    True 升序 默认

In [57]:
data.sort_index().head(5)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16

In [58]:
data.sort_index(ascending=False).head(5)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58

In [65]:
data.sort_values(by='p_change').head(5)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-09-01,14.78,14.78,13.46,13.46,78985.85,-1.50,-10.03,15.080,17.434,18.617,109001.30,103741.22,106218.95,2.70
2015-09-14,16.62,16.64,14.46,14.46,139701.77,-1.61,-10.02,14.726,14.363,16.881,98449.69,89159.54,101431.96,4.78
2016-01-11,16.59,17.24,15.90,15.90,58036.37,-1.77,-10.02,18.298,20.068,21.648,46971.51,52066.53,58356.88,1.99
2015-07-15,22.78,23.04,22.10,22.10,85966.42,-2.46,-10.02,24.564,25.197,28.530,158767.95,149753.04,149835.16,2.94
2015-08-26,17.00,18.35,15.56,15.56,130318.31,-1.73,-10.01,18.742,20.042,19.087,100097.45,114432.06,102945.90,4.46

In [67]:
data.sort_values(by=['open', 'high']).head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30
2015-09-02,12.30,14.11,12.36,12.30,70201.74,-1.10,-8.17,14.440,16.591,18.360,96977.99,98537.72,104567.25,2.40
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19

In [71]:
data['p_change'].sort_index().head()

2015-03-02    2.62
2015-03-03    1.44
2015-03-04    1.57
2015-03-05    2.02
2015-03-06    8.51
Name: p_change, dtype: float64

### DataFrame运算

In [ ]:
DataFrame运算
	算术运算
		df.add(number)  加上一个具体的数字
		df.sub()  差, 两列相减
		df.mul()
			乘
		df.div()
			除
		主要用于按列按行对数据进行处理
	逻辑运算: 返回逻辑结果True或False
		逻辑运算符号<、 >、|、 &
		逻辑运算函数
			df.query(expr)
				逻辑判断表达式的字符串
			df.isin(values) 例如例如
	统计运算
		df.describe()
			综合分析, 能够直接得出很多统计结果,count, mean, std, min, max 等
		统计函数
			df.mode(axis): 求众数（数据中出现次数最多的数）
			df.prod(axis): 求乘积，将所有数据乘起来
			df.median(axis): 求中位数，排在所有数据中间那个数的值
            max, min, std, var, mean
            idxmax: 求出最大值的位置
            idxmin: 求出最小值的位置
			25%
			75%
		累计统计函数
			df.cumsum()：累计和
			df.cummax()：累计最大值
			df.cummin()：累计最小值
			df.cumprod()：累计乘积
	自定义运算
		 df.apply(func, axis=0)
			设置按行处理还是按列处理
			axis=0 按列处理 axis=1为行进行运算

In [72]:
data.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58

In [74]:
data['open'].add(1).head()

2018-02-27    24.53
2018-02-26    23.80
2018-02-23    23.88
2018-02-22    23.25
2018-02-14    22.49
Name: open, dtype: float64

In [76]:
data['high'].sub(data['low']).head()

2018-02-27    2.35
2018-02-26    0.98
2018-02-23    0.66
2018-02-22    0.74
2018-02-14    0.51
dtype: float64

In [78]:
data['open'].mul(data['price_change']).head()

2018-02-27    14.8239
2018-02-26    15.7320
2018-02-23    12.3552
2018-02-22     8.0100
2018-02-14     9.4556
dtype: float64

In [82]:
data['open'].div(data['price_change']).head()

2018-02-27    37.349206
2018-02-26    33.043478
2018-02-23    42.370370
2018-02-22    61.805556
2018-02-14    48.840909
dtype: float64

## 基本数据操作

## DataFrame运算

## Pandas画图

## 文件读取与存储

# Pandas高级数据处理

## 缺失值的处理

## 数据离散化

## 数据合并

## 交叉表透视表

## 分组与聚合